name: CAN log tools

on: [push,pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: recursive

      - uses: actions/setup-java@v1
        with:
          java-version: '8'

      - name: Test Compiler
        run: javac -version

      - name: Gradle
        run: ./gradlew test

      - name: Publish Gradle Test Report
        uses: mikepenz/action-junit-report@v6
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'
          detailed_summary: true

      - name: Gradle
        run: ./gradlew jar

      - name: Upload .jar file
        uses: actions/upload-artifact@v4
        with:
          name: can-log-tools jar
          path: build/libs/can-log-tools-0.1-SNAPSHOT.jar
